
{% macro loop(page, parent_loop, sort, dir) %}
{% if parent_loop|length > 0 %}
    {% set data_level = parent_loop %}
{% else %}
    {% set data_level = 0 %}
{% endif %}
{% for p in page.children.visible.order(sort, dir) %}
    {% set parent_page = p.activeChild ? ' parent' : '' %}
    {% set current_page = p.active ? ' active' : '' %}
    <li class="dd-item{{ parent_page }}{{ current_page }}" data-nav-id="{{ p.route }}">
        {% if p.header.display == 'section' %}
            <span class="navigation__section">{{ p.header.altTitle ? p.header.altTitle : p.menu }}</span>
        {% else %}
        <a href="{{ p.url }}" {% if p.header.class %}class="{{ p.header.class }}"{% endif %} class="{% if p.active or p.activeChild %} navigation__item--active {% endif %}">
            <span>{{ p.header.altTitle ? p.header.altTitle : p.menu }}</span>
            <span class="navigation__item-arrow {% if p.active or p.activeChild %} navigation__item-arrow--active {% endif %}"></span>
        </a>
        {% endif %}
        {% if (p.activeChild or p.active ) %}
        <ul>
            {{ _self.loop(p, parent_loop|default(0)+loop.index, sort, dir) }}
        </ul>
        {% endif %}
    </li>
{% endfor %}
{% endmacro %}

<nav class="main__sidebar sidebar" id="main-sidebar" aria-label="Side navigation">
    <a href="{{ home_url }}" class="navigation__link-developers main__sidebar-logo-dark">
        <img
          src="{{ grav.theme.config.site_version is same as("api-doc") ? url("theme://images/img/centra-developers-logo-dark.svg") : url("theme://images/img/support/centra-support-logo-dark.svg") }}"
          alt="Centra"
          class="navigation__centra-logo"
        >
    </a>
    <ul class="navigation__items">
        {% if theme_config.root_page %}
            {{ _self.loop(page.find(theme_config.root_page), '', 'default', 'asc') }}
        {% else %}
            {{ _self.loop(pages, '', 'default', 'asc') }}
        {% endif %}
        {% for page in grav.theme.config.bulletins %}
            {{ _self.loop(pages.find(page), '', 'date', 'desc') }}
        {% endfor %}
    </ul>
    <a class="navigation__contact-us" id="contact-us" href="https://support.centra.com">Contact us</a>
</nav>