
{% macro loop(page, parent_loop) %}
{% if parent_loop|length > 0 %}
    {% set data_level = parent_loop %}
{% else %}
    {% set data_level = 0 %}
{% endif %}
{% for p in page.children.visible %}
    {% set parent_page = p.activeChild ? ' parent' : '' %}
    {% set current_page = p.active ? ' active' : '' %}
    <li class="dd-item{{ parent_page }}{{ current_page }}" data-nav-id="{{ p.route }}">
        <a href="{{ p.url }}" {% if p.header.class %}class="{{ p.header.class }}"{% endif %} class="{% if p.active or p.activeChild %} navigation__item--active {% endif %}">
            <span>{{ p.menu }}</span>
            <span class="navigation__item-arrow {% if p.active or p.activeChild %} navigation__item-arrow--active {% endif %}"></span>
        </a>
        {% if p.activeChild or p.active %}
        <ul>
            {{ _self.loop(p, parent_loop|default(0)+loop.index) }}
        </ul>
        {% endif %}
    </li>
{% endfor %}
{% endmacro %}

<nav class="main__sidebar sidebar" id="main-sidebar" aria-label="Side navigation">
    <a href="{{ home_url }}" class="navigation__link-developers main__sidebar-logo-dark">
        <img src="{{ url("theme://images/img/centra-developers-logo-dark.svg")}}" alt="Centra" class="navigation__centra-logo">
    </a>
    <ul class="navigation__items">
        {% if theme_config.root_page %}
            {{ _self.loop(page.find(theme_config.root_page), '') }}
        {% else %}
            {{ _self.loop(pages, '') }}
        {% endif %}
    </ul>
    <a class="navigation__contact-us" id="contact-us" href="https://support.centra.com">Contact us</a>
</nav>