{% extends 'partials/base.html.twig' %}

{% block beforecontent %}
    {% include 'partials/sidenav.html.twig' %}
{% endblock %}
{% block content %}
    <div class="main__content">
        <div class="articles__listing">
            <h1>{{page.title}}</h1>
            <hr/>
            {% if page.content %} <div class="articles__listing-content">{{page.content}}</div>{% endif %}
            {% set bulletins = grav.theme.config.bulletins %}
            {% set pages = page.topParent().menu in bulletins or page.menu in bulletins ? page.children.order('date', 'desc') : page.children %}
            {% for p in pages %}
                <article>
                    <h2><a href="{{ p.url }}">{{ p.menu }}</a></h2>
                    <p>{{ p.header.excerpt ? p.header.excerpt : p.summary(230) }}</p>
                    <a href="{{ p.url }}">Read more</a>
                </article>
            {% endfor %}
        </div>
        {% include 'partials/arrownav.html.twig' %}
    </div>
{% endblock %}
{% block aftercontent %}
    <div class="page-toc">
    </div>
{% endblock %}