{% set url = url|default(base_url|rtrim('/') ~ '/' ~ config.get('plugins.tntsearch.query_route', 's')|trim('/')) %}

{% set options = { uri: url, limit: 50 } %}

{% include 'partials/head.html.twig' %}
<body>
    <div class="search-page">
        {% include 'partials/topnav.html.twig' %}
        <form class="tntsearch-form">
            {% block tntsearch_input %}
                <div id="tntsearch-wrapper" class="form-group{{ dropdown ? ' tntsearch-dropdown' : '' }}">
                    <div class="navigation-search__form">
                        <input
                          type="text"
                          id="input-search"
                          class="navigation-search__input form-control tntsearch-field{{ in_page ? ' tntsearch-field-inpage' : '' }}"
                          data-tntsearch="{{ options|json_encode|e('html_attr') }}"
                          placeholder="{{ grav.theme.config.search_placeholder }}"
                          value="{{ not dropdown ? query|e : '' }}"
                        >
                        <button class="navigation-search__submit-button" type="submit" id="search-submit-button"/>
                    </div>
                </div>
            {% endblock %}

            {% include 'partials/navigation-background-big.html.twig' %}

            <div class="l-wrapper hide" id="search-page-content">
                <div class="l-wrapper__left-padding"></div>
                <div class="main__inner">
                    {% include 'partials/sidenav.html.twig' %}
                    <div class="main__content">
                        <div class="tntsearch-results" id="search-results"></div>
                        <div id="search-results-loader"></div>
                    </div>
                </div>
                <div class="l-wrapper__right-padding"></div>
            </div>
        </form>
        {% include 'partials/landing-page/landing-page-footer.html.twig' %}
    </div>
</body>